{
    "botName": "Bucksy",
    "guildID": "***",
    "channels": {
        "qotd": "***"
    },
    "qotdTime": "0 27 1 * * *",
    "qotdURL": "https://www.reddit.com/r/AskReddit/",
    "verifiedRole": true,
    "prefix": ["$", "!", "."],
    "teams": ["harmony", "instinct", "mystic", "valor"]
}